<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Username</title>
</head>
<body>
<div class="main">
    <div class="head">
        <h1>Type your Username</h1>
    </div>

    <form action="#" method="post">
        {% csrf_token %}
        <label for="username">User name</label>
        <input type="text" id="username" name="username" value="username">
        <input type="submit" value="submit">
    </form>
</div>
</body>
</html>